<div class="relative isolate px-3 lg:px-8">
  <div class="mx-auto max-w-2xl mt-5">
    <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl text-center">Owners</h1>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.id }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="nic">
        <mat-header-cell *matHeaderCellDef>NIC</mat-header-cell>
        <mat-cell *matCellDef="let user">{{ user.nic }}</mat-cell>
      </ng-container>

      <!-- Add more columns if needed -->

      <!-- Column for Update and Delete buttons -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="openAddUserModal()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" (click)="editUser(user.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </div>
</div>
