<h1 class="text-center pt-5">Login</h1>
<div class="flex justify-center">
  <form [formGroup]="form" (submit)="submit()" class="flex flex-col gap-2">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      @if (email.invalid) {
        <mat-error>
          <ng-container *ngIf="email.hasError('required')">
            Email is required.
          </ng-container>
          <ng-container *ngIf="email.hasError('email')">
            Email is not valid.
          </ng-container>
        </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">
      @if (password.invalid) {
        <mat-error>
          <ng-container *ngIf="password.hasError('required')">
            Password is required.
          </ng-container>
        </mat-error>
      }
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">
      <mat-icon>login</mat-icon>
    </button>
  </form>
</div>
