<div class="relative isolate">
  <div class="mx-auto max-w-2xl mt-5">
    <div class="flex">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl pt-3">Fields</h1>
      <div class="grow flex justify-center">
        <mat-form-field class="example-full-width">
          <mat-label>NIC</mat-label>
          <input matInput #nicInput>
        </mat-form-field>
        <button mat-icon-button color="primary" (click)="fetchOwnerId(nicInput.value)">
          <mat-icon>search</mat-icon>
        </button>
      </div>
    </div>
    <table mat-table [dataSource]="fields">
      <ng-container matColumnDef="Surface">
        <mat-header-cell *matHeaderCellDef>Surface(m'2)</mat-header-cell>
        <mat-cell *matCellDef="let field">{{ field.surface }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Category">
        <mat-header-cell *matHeaderCellDef>Category</mat-header-cell>
        <mat-cell *matCellDef="let field">{{ field.categoryName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Year">
        <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
        <mat-cell *matCellDef="let field">{{ field.year }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="Actions">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="openAddFieldModal()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell *matCellDef="let field">
          <button mat-icon-button color="primary" (click)="openFieldPaymentsModal(field)">
            <mat-icon>wallet</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="editField(field)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteField(field.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </table>
  </div>
</div>
